<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <table>
            <caption>Header</caption>
            <thread>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thread>
            <tbody>
                {{range $key, $value := .Header }}
                <tr>
                    <td>{{ $key }}</td>
                    <td>{{ $value }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </body>
</html>
