<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/hello.js"></script>
  </head>
  <body>
    <img src="/static/images/22.png" height="48" width="48"/>
    Sample Go Web Application!!
        <div>
            <p class="greeting-id">The ID is </p>
            <p class="greeting-content">The content is </p>
        </div>
        <form action="/form" method="post">
          <p>Username <input type="text" name="Username" /></p>
          <p>Password <input type="text" name="Password" /></p>
          <p><input type="submit" value="submit"></p>
        </form>
  </body>
  </html>
  